<img src={{imageUrl}} />
<h1>{{ name }} </h1>
<p><b>User description:</b> {{ description }}</p>
<!-- <div *ngIf="isNotLoggedInUser"> -->
    <div *ngIf="observed; else elseBlock">
        <button type="button" class="btn btn-danger btn-sm" (click)="unobserve()">Unobserve</button>
    </div>
    <ng-template #elseBlock>
        <button type="button" class="btn btn-success btn-sm" (click)="observe()">Observe</button>
    </ng-template>
<!-- </div> -->
<app-post *ngFor="let post of posts" [id]="post['id']">
